#top-tracks li {
  .play-icon {
    position: absolute;
    top: 100px;
    right: 15px;
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: scale(0.6);
    transition: opacity $transition-fast, transform $transition-fast;
    pointer-events: auto;
  }

  &:hover .play-icon {
    opacity: 1;
    transform: scale(1);
  }
}
