@use '../abstracts/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  color: $text-color;
  background-color: $bg-color-second;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
