@use "../abstracts/variables" as *;

.app-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: $radius-md;
	text-align: center;
	font-size: $spacing-md;
	color: $text-muted;
	background-color: $bg-color;
}
