@use '../abstracts/variables' as *;

.player {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;
  z-index: 10;

  .player-info {
    margin: 0.7rem 0;
    flex: 1;
    color: $text-muted;
    font-size: 1rem;
  }

  audio {
    width: 500px;
    max-width: 100%;
    height: 32px;
    margin-bottom: $spacing-md;
    filter: invert(1) grayscale(100%);
  }
}
